*{
  box-sizing:border-box;
}
body{
  padding:0;
  margin:0;
}
a{
  display:inline-block;
  text-decoration:none;
}
.header{
  overflow: hidden;
  background-color:rgba(000,000,000,0.9);
  height:80px;
  margin-bottom:0px;
  position: fixed;
  z-index: 999px;
  width:100%;
  padding:0px;
  margin: 0px;
  top:0;
}
.header-left{
  float:left;
  color: #ffffff;
  line-height: 80px;
  font-size: 30px;
}

}
.header-right{
  float:right;
  overflow: hidden;

}
.header-right li{
  float:right;
  list-style: none;
}
.btn{
  color:#ffffff;
  margin:10px 12px 0 8px;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.top-wrapper{
  text-align: center;
  background-image:url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGw_0zWP18C2B7k5BXYgRD64O1c2D9qLP3v-MnGm7ibobUoTH4kKM_-BNpeHk1KH67C84zU2j0pB5YxlM9LbWXayFaGw5uUts-UKCkfOptBY-ZHdRUuynZCI3utL0zxqJ2B6DbW-4MlhXtqbvPUHOgro1q8AvvI-QnEfvLAWpcAd2Iy6p8lZjg1KJeXQwkCpoTXQ5kRkoLB0D8z-71dkljMhvBKH_QpG2Xi9apxI6-Yvclor0wdiHJJjJxb2i1Yy7Lm_foC8OkmymnTf_kR99uxM=/692afe90-d629-11ea-8c7d-c271f42d3a6f?errorImage=false");
  height:650px;
  background-size:cover;
  width:100%;
}
span{
  font-weight: bold;
  color:#ff0000;
}
.contents{
  background-color: #000022ff;
  padding: 20px 20px;
  padding-top:20px;
  width:100%;
}
h1{
  padding-top: 70px;
  font-size: 50px;
  color:#ffffff;

}

.main-wrapper{
  width: 100%;
  margin: 0 auto;
  background-color:#ffffff;
  margin-top:50px;
  border-radius:10px;
  padding-right:15px;
  padding-left:15px;
  padding-top:20px;
}

.main{
  overflow: hidden;

}
h2{
  border-bottom: 2px solid blue;
  padding-top:20px;
  background-color:#f5f5f5;
  margin-top:80px;
}

.table-of-contents{
  border: 2px solid black;
  background-color:#f5f5f5;
  width: 800px;
  margin: auto;
margin-bottom:20px;
}
.table-of-contents a{
  color:blue;
}
.table{
  text-align: center;
  margin-top:10px;
  color:#000000;
}
.wrapper4 p{
  width:50%;
  float:left;
  margin:0;
}
.p1{
  margin-bottom:60px;
}
p{
  opacity: 0.6
}
.sonic-explain p{
  color:#ffffff;
}
.video{
  background-color: #ff66ff;
}
.photo{
  opacity:1.0;
}


.wrapper5 p{
  width:50%;
  float:left;
}
.wrapper6 p{
  width:50%;
  float:left;
}
.wrapper7 p{
  width:50%;
  float:left;
}
.wrapper7 h3{
  border-bottom:2px solid red;
}
.wrapper8 p{
  width:50%;
  float:left;
}
.wrapper9 p{
  width:50%;
  float:left;
  margin-bottom:0;
}
.wrapper10 p{
  width:50%;
  float:left;
}
.wrapper10{
  border-bottom: 2px solid red;
}
.question{
  background-color:rgba(238,238,238,0.8);
}
.text12{
  width:50%;
  float:left;
}
.text13{
  line-height: 40px;
}
h5{
  color:red;
}
.container14{
  background-color: rgba(238,238,238,0.8);
}
.iframe{
  text-align: center;
  opacity: 1;
}
h4{
  background: red;
}
.answer{
  width:25%;
  float:left;

}


.answers{
  width:80%;
  overflow:hidden;
  margin:auto;
}

}
.answerlist {
  margin:5px 0;
  width:80%;

}
.answerlist:hover{
  background: #66ccff;
}
.answer p{
  display: none;
}
.bold{
  font-weight: bold;
  opacity: 1;
}
